<!DOCTYPE html>
<html lang="en">
<head>
    <title>404!</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
    
</head>
<body>
    {{>header}}
    <h4>{{errorname}}</h4>
    {{>footer}}
</body>
</html>
